table, th, td{
    border: 1px solid black;
}
table{
    padding: 5px;
    word-spacing: 5px;
}
th{
    background-color:rgb(112, 216, 126);
}
tr:nth-child(even){
    background-color: #3a2e4b;
}
td:nth-child(even) {
    background-color: rgba(168, 98, 58, 0.4);
}